<p>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。</p>

  <h2>新着商品</h2>
    <% @items.each do |item| %>
      <tr>
        <td>
          <% if item.image.attached? %>
            <%= image_tag item.get_image(100,100) %>
          <% else %>
            <%= image_tag 'default-image.jpg', size: "100x100" %>
          <% end %>
        </td>
        <td><%= link_to item.name, item_path(item.id) %></td>
        <td><%= "¥#{item.price}" %>
      </tr>
    <% end %>
