/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h4 {
  color: maroon;
  border-radius: 4px;
  background-color: #faebd7 ;
}

.table-secondary {
  background-color: #ffffe0 ;
}

th {
  color: #cd853f;
}

.navbar-expand-lg {
  background-color: #a0522d ;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

footer {
  background-color: #a0522d ;
  width: 100% ;
  position: absolute;
  bottom: 0;
  color: white ;
}

.actions {
  margin-left: 32%;
}

.ml-40 {
  padding-left: 35%;
}

.customer_edit {
  padding-left: 15%;
}

.customer_index{
  padding-left: 10%;
}

.customer_show{
  margin-bottom: 40px;
}